# Default ignored files
/src/.idea/shelf/
/src/.idea/workspace.xml
# Editor-based HTTP Client requests
/src/.idea/httpRequests/
# Datasource local storage ignored files
/src/.idea/dataSources/
/src/.idea/dataSources.local.xml
/src/.idea/.env
/src/node_modules
/src/.idea/server/resources/Example_Json/
